<div class="container">
    <app-navbar></app-navbar>
    <div class="projects-content">
        <h1>Projects</h1>
        <hr>
        <div id="projects-list">
            <app-project 
                [projectName]="'Twitter API'" 
                [url]="'https://github.com/Solfuller25/spring-twitter-project'"
                [projectDescription]="'A RESTful Web Service to mimic the popular social media site known as Twitter, or X. This project was built in Java using the SpringBoot framework to implement various endpoints that could be used to create and delete, as well as reply to tweets and other functionality.'"
                [techEnvironment]="'Java, SpringBoot, JPA, PostgreSQL, PGAdmin, Postman, Git, Eclipse, Maven'"
            ></app-project>
            <app-project
                [projectName]="'Mars Rover'"
                [url]="'https://github.com/Solfuller25/MarsRover'"
                [projectDescription]="'My solution to a coding challenge to create a command line interface that emulates communications between a remote user and a rover landing on a isolated plateau on Mars. The user can provide various commands to navigate the Mars Rover, and the software will provide heading and location details back to the user.'"
                [techEnvironment]="'C#, Visual Studio'"
            ></app-project>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" 
        integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" 
        crossorigin="anonymous"></script>
    <script type="module" src="../js/index.js"></script>
</div>
