/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: 'Merriweather';
}

.container {
    background-color: #1B4965;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.content {
    background-color: #5FA8D3;
    height:90%;
    width:90%;
    display: flex;
    align-items: center;
    margin: 20px;
    border: 3px solid #000;
    border-radius: 20px;
    justify-content: space-around;
}

.button {
    color: #000;
    font-weight: bold;
    border: 2px solid #BEE9E8;
    background-color: #BEE9E8;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 20px 0px 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
}

a:hover {
    background-color: #62B6CB;
    border-color: #62B6CB;
    cursor: pointer;
}

a:active {
    transform: translateY(3px);
    border-color: #62B6CB;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.6);
    cursor: pointer;
}
