<div class="container">
    <app-navbar></app-navbar>
    <div class="content">
        <div id="greeting">
            <h1>Solomon Fuller</h1>
            <hr>
            <h1>Software Developer</h1>
            <h3>Solomon Fuller is a skilled associate software developer with outstanding attention to detail and strong 
                analytical skills that make him a valuable resource in any setting. He holds a degree in Physics / Computer 
                Science and a minor in Mathematics, showcasing a wide variety of backgrounds and problem-solving skills. Additionally, 
                he exhibits excellent communication skills produced through multiple years of experience in customer service and software 
                support. With three years of professional experience, Solomon has an excellent background in developing and maintaining 
                various applications and code bases. He maintains a strong work ethic and strong problem solving skills that undoubtedly 
                will provide value in a wide variety of areas.
            </h3>
            <a class="button content-button" href="../files/SFuller_Resume.docx" download>Download Resume</a>
        </div>
        <div class="imgbox">
            <div id="gitHubSection">
                <img id="profileImg" alt="A Picture of Solomon">
                <p id="bio"></p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" 
        integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" 
        crossorigin="anonymous"></script>
    <script type="module" src="../js/index.js"></script>
</div>